.ttt {
    width: 450px;
    height: 200px;
    -webkit-box-shadow: 6px 9px 11px 12px rgba(7, 7, 7, 0.61);
    -moz-box-shadow: 6px 9px 11px 12px rgba(7, 7, 7, 0.61);
    box-shadow: 6px 9px 11px 12px rgba(7, 7, 7, 0.61);
    position: relative;
}

.ccc {
    position: absolute;
    top: 20px;
    left: 20px;
    font-family: "Times New Roman";
}

