body {
    background: aqua;
}

.container {
    background: blueviolet;
    margin-bottom:20px;
}

.form_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}