table {
    text-align: center;
    display: flex;
    justify-content: center;
}
td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    background: linen;
    width: 40px;
    height: 40px;
}
