body {
    background-color: black;
    text-align: center;
}

input, button {
    color: black;
    font-weight: bold;
    margin-top: 35vh;
    background: linear-gradient(white, grey);
    font-size: 10vh;
}

input {
    width: 100px;
    margin-right: 40px;
}

button {

}

div {
    font-size: 100px;
    color: white;
    font-weight: bold;
    margin-top: 50px;
}