div {
    width: 100px;
    height: 100px;
    float: left;
    background-color: lightpink;
}

div:hover {
    transform: scale(20.4,11);
    transition-property: transform;
    transition-duration: 3s;
}


