.back {
    width: 400px;
    height: 50px;
    background-color: darkslategrey;
    z-index: 1;
}

.line {
    width: 370px;
    height: 40px;
    background: -webkit-linear-gradient(270deg, rgb(165, 208, 184), rgb(27, 79, 42));
    background: -moz-linear-gradient(270deg, rgb(165, 208, 184), rgb(27, 79, 42));
    background: linear-gradient(270deg, rgb(165, 208, 184), rgb(27, 79, 42));
    z-index: 2;
    position: relative;
    left: 15px;
    top: 5px;
    border-radius: 20px 20px 20px 20px;

    animation: box 5s;
}

@keyframes box {
    0% {width: 0;}
    50% {width: 370px;}
    100% {width: 0;}
}

