.back {
    background-color: white;
    width: 100px;
    height: 100px;
    z-index: 1;
    position: absolute;
}

.back:hover {
    transform: rotate(1turn);
    transition-property: transform;
    transition-duration: 3s;
}


.fly {
    z-index: 2;
    width: 20px;
    height: 20px;
    font-size: xx-large;
    float: left;
    transform: rotate(-45deg);
}
