div {
    width: max-content;
    background-color: darkseagreen;
    animation: 5s box;
    animation-fill-mode: forwards;
}

input:checked {
    background-color: green;
}

@keyframes box {
    100% {width: 800px}
}
